<form class="filters">
    <div class="filters-header">
        <h2 class="filters-header__title">Filters</h2>
        <div class="filters-header__close-icon"></div>
    </div>
    {%- for filter in collection.filters -%}
    <details class="filter-group">
        <summary class="filter-group-summary">
            <div>
                <span>{{ filter.label }}</span>

                {%- if filter.active_values.size > 0 -%}
                <span> ({{ filter.active_values.size }})</span>
                {%- endif -%}
            </div>
        </summary>

        <div class="filter-group-display">
            {%- case filter.type -%}
            {%- when 'boolean' or 'list' -%}
            <ul class="filter-group-display__list">
                {%- for filter_value in filter.values -%}
                <li class="filter-group-display__list-item">
                    <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                        <input type="checkbox" name="{{ filter_value.param_name }}" value="{{ filter_value.value }}"
                            id="Filter-{{ filter.param_name }}-{{ forloop.index }}" {% if
                            filter_value.active-%}checked{%- endif %} {% if filter_value.count==0 and
                            filter_value.active==false -%}disabled{%- endif %}>
                        <span class="filter-group-display__list-item-checkmark"></span>
                        {{ filter_value.label }}
                    </label>
                </li>
                {%- endfor -%}
            </ul>
            {%- when 'price_range' -%}
            <div class="filter-group-display__price-range">
                <div class="filter-group-display__price-range-from">
                    <input name="{{ filter.min_value.param_name }}" id="Filter-{{ filter.min_value.param_name }}" {% if
                        filter.min_value.value -%}
                        value="{{ filter.min_value.value | money_without_currency | replace: ',00', '' }}" {%- endif %}
                        type="number" placeholder="0" min="0"
                        max="{{ filter.range_max | money_without_currency | replace: ',00', '' }}">
                </div>
                <span>tot</span>
                <div class="filter-group-display__price-range-to">
                    <input name="{{ filter.max_value.param_name }}" id="Filter-{{ filter.max_value.param_name }}" {% if
                        filter.max_value.value -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: ',00', '' }}" {%- endif %}
                        type="number" placeholder="{{ filter.range_max | money_without_currency | replace: ',00', '' }}"
                        min="0" max="{{ filter.range_max | money_without_currency | replace: ',00', '' }}">
                </div>
            </div>
            {%- endcase -%}
        </div>
    </details>
    {%- endfor -%}
</form>